Body {

}

#name {
  color: #33485e;
  font-size: 36px;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.sectionheader {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

.jobtitle {

}

.organization {
  font-size:  1.25em
}
